// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "components/sidebar.scss"; 
@import "components/hamburger.scss";

html{
	height:100%;
}

body{
	height:100%; 
	overflow:auto;
}

#wrapper{
	height:100% !important; 
}

#page-content-wrapper{
	height:100% !important;
	padding:0 !important;
}

#content-container{
	padding:0 !important;
}

.navbar-default{
	background-color:white; 
	border-color:white;
}
